@page "{handler?}/{id:int?}"
@model FormsModel

@{
    ViewData["Title"] = "Forms";
    Layout = "Shared/StandardLayout";
}

<br>
<br>
Message: @Model.Message
<br>
RouteData - handler: @RouteData.Values["id"]
<br>
RouteData - handler: @Model.Id
<br>

<h3>See here for more input types: https://www.learnrazorpages.com/razor-pages/forms</h3>
<h3>See here for file upload: https://www.learnrazorpages.com/razor-pages/forms/file-upload</h3>

<div style="margin-top:30px;">
    <div>Form 1 - with client side validation</div>
    <br>
    <form asp-page-handler="form1" method="post">
         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div><input type="submit" /></div>
    </form>
</div>
<div style="margin-top:30px;">
    <div>Form 2 - with server side validation</div>
    <br>
    <form asp-page-handler="form2" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label for="Form2Details.Name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Form2Details.Name">
            </div>
            <span asp-validation-for="Form2Details.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div><input type="submit" /></div>
        </div>
    </form>
</div>
<div style="margin-top:30px;">
    <div>Form 3</div>
    <br>
    <form asp-page-handler="form3" method="post">
        <button asp-page-handler="Register">Register Now</button>
        <button asp-page-handler="RequestInfoWithRouteId" asp-route-id="10">Request Info with route id 10</button>
        <button asp-page-handler="RequestInfoWithName" name="id" value="99">Request Info with name 99</button>
        <button asp-page-handler="GoHome">Go Home</button>
    </form>
</div>
<div>
    @if (!string.IsNullOrEmpty(Model.Name))
    {
        <p>Hello @Model.Name!</p>
    }
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
