body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}

/* QR code generator */
#qrCode {
  margin: 15px;
}

.standard-layout {
}

.column-layout {
  display: flex;
  flex-direction: row;
  height: 200px;
  align-items: center;
}

.column {
  flex-grow: 1;
  text-align: center;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}

input {
  max-width: 280px;
}

.entry {
  min-width: 250px;
  display: inline-block;
}

.details,
.edit,
.delete {
  cursor: pointer;
  color: #337ab7;
  text-decoration: underline;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

#content {
  min-height: 500px;
}
